<nav class="menu">
  <ul class="menu__inner menu__inner--desktop">
    {{ $currentPage := . }}
    {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
      {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
        {{ $menu_item_url := .URL | relLangURL }}
        {{ $page_url := $currentPage.RelPermalink | relLangURL }}
        {{ if not .HasChildren }}
          <li><a{{ if eq $menu_item_url $page_url }} class="active"{{ end }} href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
      {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
        <li>
          <ul class="menu__sub-inner">
            <li class="menu__sub-inner-more-trigger">{{ $.Site.Params.MenuMore }} ▾</li>
          </ul>
          <ul class="menu__sub-inner-more hidden">
            {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
              {{ if not .HasChildren }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url := $currentPage.RelPermalink | relLangURL }}
                <li><a{{ if eq $menu_item_url $page_url }} class="active"{{ end }} href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </li>
      {{ end }}
    {{ else }}
      {{ range $.Site.Menus.main }}
        {{ $menu_item_url := .URL | relLangURL }}
        {{ $page_url := $currentPage.RelPermalink | relLangURL }}
        {{ if not .HasChildren }}
          <li><a{{ if eq $menu_item_url $page_url }} class="active"{{ end }} href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
    <li><div class="spacer"></div></li>
    <li>
      <ul class="language-selector">
        <li>
          <ul class="language-selector-current">
            <li>{{ .Language.LanguageName }} ▾</li>
          </ul>
        </li>
        <li>
          <ul class="language-selector__more hidden">
            {{ range $.Site.Home.AllTranslations }}
            <li><a{{ if eq .Language $.Language }} class="active"{{ end }} href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
          </ul>
        </li>
      </ul>
    </li>
    {{ end }}
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    {{ range $.Site.Menus.main }}
      {{ $menu_item_url := .URL | relLangURL }}
      {{ $page_url := $currentPage.RelPermalink | relLangURL }}
      {{ if not .HasChildren }}
        <li><a{{ if eq $menu_item_url $page_url }} class="active"{{ end }} href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
    <li><hr /></li>
    {{ range $.Site.Home.AllTranslations }}
      <li>
        <a{{ if eq .Language $.Language }} class="active"{{ end }} href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      </li>
    {{ end }}
    {{ end }}
  </ul>
</nav>
